html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5; /* Off-white */
    color: black;
}

h2 {
    font-size: 1.25em;
}

.topBox, .middleBox, .bottomBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.topBox {
    flex: 1 0 10%;
    background-color: #f5f5f5;
    color: black;
    justify-content: center;
    align-items: flex-end;
}

.logo {
    flex-shrink: 0;
    width: 150px;
    height: auto;
    max-width: 150px;
    object-fit: contain;
}

.menu {
    flex-shrink: 0;
    width: 400px;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.menuBox {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-center;
    overflow-y: auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    background-color: #f5f5f5;
    color: black;
}

.middleBox {
    flex: 8 0 80%;
    background-color: #f5f5f5;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bottomBox {
    flex: 1 0 10%;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scrollbar styling for off-white background */
.menuBox::-webkit-scrollbar {
    width: 5px;
}

.menuBox::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.menuBox::-webkit-scrollbar-thumb {
    background: black;
}

.menuBox::-webkit-scrollbar-thumb:hover {
    background: grey;
}
